<% if group.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= group.errors.count %>件のエラー</h5>
    <ul>
      <% group.errors.full_messages.each do |message| %>
       <li><h5><%= message %></h5></li>
      <% end %>
    </ul>
  </div>
<% end %>