<div class="container">
  <div class="row p-5">
    <div class="col-md p-5 background">
      <h1>育児の喜びや不安を</br>みんなで共有しましょう</h1>
      <h4>育児に関する投稿をもとに意見交換ができます。</h4>
      <p>夜泣きがひどくて辛い。<br>
        離乳食のレパートリーが増えない。<br>
        育児って些細なことで、すごく悩みますよね。
      </p>
      <p>投稿したエピソードが、新米ママパパの元に届き、<br>
        少しでも自信を持って日々の育児に向き合える、そんな場になれたら幸いです。</p>
    </div>
  </div>
</div>