<div class="container">
  <div class="row">
    <div class="col-4 p-4">
      <h1>ユーザー詳細</h1>
      <%= image_tag @user.get_profile_image(100,100), class: :"rounded-circle" %>
      <h3><%= @user.name %></h3>
      <%= @user.introduction %>
    </div>

    <%= render 'users_index', posts: @posts %>
  </div>
</div>