
<p>検索フォーム</p>

<h2>育児の喜びや不安をぶつけてみませんか？<br>
  あなたの投稿が、新米ママパパの支えになるかもしれません</h2>
<p>育児に関する投稿をもとに意見交換をすることができる、コミュニティサイトです。</p>
<p>夜泣きがひどくて辛い。</br>
  離乳食のレパートリーが増えない。</br>
  育児って些細なことで、すごく悩みますよね。
</p>
<p>あなたが投稿してくれたエピソードが、同じ悩みを抱える新米ママパパの元に届き、</br>
  少しでも自信を持って育児に向き合っていける。そんな場になれたらと思います。</p>