<% if user.errors.any? %>
<div class="alert alert-danger">
  <h5><%= user.errors.count %>件のエラー</h5>
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>