<div class="container">
  <div class="row">
    <div class="col-md-4 p-4">
      <h1>ユーザ詳細</h1>
      <%= render 'users_info', user: @user %>
    </div>
    <%= render 'users_index', posts: @posts %>
  </div>
</div>